@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #111319;
  color: white;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  
}
::-webkit-scrollbar-track {
  background: #090b11;
}
::-webkit-scrollbar-thumb {
  background:#3e4354;
  ;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* main home page section*/
header {
  height: 100vh;
  display: flex;
  flex-direction: column; 
 
}
#nav-desktop{
padding: 20px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
position: fixed;
width: 100%;
z-index: 99;
background: rgba( 62, 62, 95, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

}
.logo{
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: orangered;
  margin-top: 5px;
}
#nav-ul,#ul-mobile{
  list-style-type: none;
}
#nav-ul li{
  display: inline-block;
  margin: 5px 0;
}
#nav-ul li a{
  text-decoration: none;
  color: orangered;
  margin-right: 2rem;
  font-size: 1.2rem;
}
#nav-ul li a:hover{
  border-bottom: 1px solid orangered;
}
#menu-icon{
  font-size: 2rem;
  color: orangered;
  cursor: pointer;
  display: none;  
}
#nav-mobile{
  width: 5%;
  padding: 5px 10px;
  background: rgba( 165, 161, 161, 0.2 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  border-radius: 5px;
  position: fixed;
  right: 2%;
  top: 10%;
  display: none;
  transform: translateX(100px);
  z-index: 99;
}
#ul-mobile li{
  margin: 0.5rem 0;
}
#ul-mobile li a{
  font-size: 1.2rem;
  margin: 5px 0;
  color:orangered;
}
.intro {
  font-size: 1.5rem;
  margin: 7rem 2rem;
  text-align: justify;
}
.intro .hi span {
  font-size: 2.5rem;
  color: orangered;
  font-weight: 900;
  text-transform: uppercase;
}
.intro button {
  padding: 0.5rem 1rem;
  background-color:transparent;
  outline: none;
  font-size: 1.3rem;
  border:2px solid orangered;
  border-radius: 5px;
}
.intro button:hover{
  transform: scale(1.1);
  transition: 0.5s;
  border: 2px solid orangered;
}
.cutout{
 width: 500px;
 height: 500px;
 display: flex;
 justify-content: center;
 position: absolute;
 right: 10%;
 top: 15%;
 background-color: orangered;
 border-radius: 50%;
}
.cutout img{
  width: 200px;
}
.header-text {
  font-size: 1rem;
  color: rgba(126, 155, 185, 0.691);
  width: 30%;
  margin: 2rem 0;
}
.intro button a {
  text-decoration: none;
  color: white;
}
.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  bottom: 5%;
}
.social-icons ul {
  list-style: none;
  font-size: 1.5rem;
}
.social-icons ul li:hover{
  color: orangered;
  transform: scale(1.2);
  transition: 0.3s;
}
.social-icons ul li{
  margin: 1rem 0;
}
.social-icons ul a{
  text-decoration: none;
  color: white;

}
.button-top{
 color: orangered;
 font-size: 1.5rem;
 z-index: 1.5;
  padding: 0.5rem;
  position:fixed;
  left: 2%;
  bottom: 1%;
}
#about,
#skills,
#education,
#portfolio,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 1.5rem;
  margin: 2.5rem auto;
  color: orangered;
  text-transform: uppercase;
padding: 1rem;
border-bottom: 1px solid white;
display: none;
}

.typing-demo {
  width: 21ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-size: 1.5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
/* about section*/
.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-text {
  width: 50%;
  text-align: justify;
  padding: 2rem;
}
.about-text button {
  background-color:transparent;
  border: 2px solid orangered;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.about-text button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.img img {
  width: 250px;
}
/*skills section*/
#skills{
  height: fit-content;
  padding: 2rem 0;
}
.skills-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:80%;
}
.skills-bar{
  width: 70%;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  background: rgba( 66, 66, 94, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
}
.bar{
  margin: 2rem 0;
}
.bar .info span{
  font-size: 1.1rem;
}
.progress-line{
  position: relative;
  height: 10px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}
.progress-line span{
  height: 100%;
  background-color: orangered;
  position: absolute;
  border-radius: 10px;
}
.progress-line span::before{
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -10px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: #111319;
}
.progress-line span::after{
  position: absolute;
  right: 0;
  top: -37px;
  background-color: #111319;
  padding: 1px 8px;
  border-radius: 3px;
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.js span::after{
  content: "70%";
}.progress-line.react span::after{
  content: "50%";
}
.progress-line.three span::after{
  content: "50%";
}.progress-line.github span::after{
  content: "70%";
}.progress-line.cpp span::after{
  content: "70%";
}
.progress-line.html span{
  width: 90%;
}
.progress-line.css span{
  width: 80%;
}.progress-line.js span{
  width: 70%;
}.progress-line.react span{
  width: 50%;
}.progress-line.three span{
  width: 50%;
}.progress-line.github span{
  width: 70%;
}.progress-line.cpp span{
  width: 70%;
}

/* education section css*/
.education-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}
.left-edu,.right-edu{
  width: 30%;
  margin:1rem 2rem;
  text-align: center;
  padding: 2rem;
  height:70%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #111319;
}
.edu-head{
  font-size: 1.6rem;
  padding: 0.2rem;
  margin: 1rem;
  border-bottom: 1px solid orangered;
}
.year{
  background-color:rgba(102, 102, 190, 0.215);
  padding:0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
}
.school{
  padding: 1rem;
}

/* 
portfolio section css
 */
 #portfolio{
height: fit-content;
 }
 .portfolio-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   width: 90%;
 }
 .project{
   width:40%;
   height: 80vh;
   margin: 1rem;
 display: flex;
 /* padding: 0.5rem; */
 justify-content: center;
  align-items: center;
  background: rgba( 66, 66, 94, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
 }
 
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color:orangered;
  outline: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.btn a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
.btn--block {
  display: block;
  /* width: 100%; */
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background: rgba(97, 96, 109, 0.25);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.card:hover{
  transform: translateY(-10px);
  transition: 0.5s ease-in-out;
}
.card:hover .card__image{
  transform: scale(1.1) rotate(1deg);
  transition: 0.5s ease-in-out;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.card__image--portfolio{
  background-image: url(./images/portfolio_img.png);
}
.card__image--hillffair{
  background-image: url(./images/hillffair_img.png);
}
.card__image--freshmen {
  background-image: url(./images/freshmen_img.png);
}
.card__image--nimbus {
  background-image: url(./images/nimbus_img.png);
}
.card__image--music{
  background-image: url(./images/musicplayer_img.png);
}
.card__image--todo{
  background-image: url(./images/todolist_img.png);
}

.card__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
 .more {
  background-color:transparent;
  border: 2px solid orangered;
  outline: none;
  padding: 0.5rem 3rem;
  margin: 2rem 0;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
 }
 .more a{
   color: white;
   text-decoration: none;
 }

/* 
contact section css
 */
 .contact-container{
display: flex;
justify-content: space-around;
align-items: center;
width: 90%;
 }
 .contact-info,.form{
   width: 50%;
 }
 .contact-info p{
   font-size: 1.2rem;
   color: rgb(176, 171, 171);
   margin: 2rem;
 }
 .contact-info p i{
   font-size: 2rem;
 }
 .form form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 form input{
   border: none;
   width: 50%;
   padding: 0.5rem;
   color: white;
   text-align: center;
   background: transparent;
   outline: none;
   border-bottom: 1px solid #808080;
   margin:0.5rem;
   font-size: 1.2rem;
 }
 form textarea{
  resize: none;
  padding: 0.3rem;
   background-color: transparent;
   color: #808080;
   border-bottom: 1px solid #808080;
   outline: none;
   margin: 0.5rem;
 }
 #contact button {
  background-color: orangered;
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  
 }
 #contact button a{
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
 }

 #contact h6{
   margin-bottom: 0.5rem;
  
 }
 .location,.mail{
   color: orangered;
   transform: scale(0.7);
 }
/* all sections css */
section {
  height: 100vh;
  padding-top: 40px;

}
section:nth-child(even) {
  background-color: #191c26;
}


/* media queries */
@media screen and (max-width: 768px) {
  #menu-icon{
    display: block;
    position: absolute;
    right: 15%;

}
#nav-desktop{
  background:none;
}
.logo{display: none;}
#nav-ul{
    display: none;
}
#nav-mobile.show{
    display: block;
    transform: translateX(-10px);
    transition: 0.5s ease-in-out;

}.typing-demo{
      display: none;
    }
    .heading{
      display: block;
    }
    .cutout{
      height: auto;
      width: auto;
      background-color: transparent;
      right: 5%;
    }
    .intro button {
      padding: 0.2rem 0.7rem;
      font-size: 1.1rem;
    }
    .intro button {
      padding: 0.2rem 2rem;
    }
  #about {
    height: fit-content;
  }
  .about-container {
    flex-direction: column;
  }
  .contact-container{
    flex-direction: column;
  }
  .contact-info p{
    font-size: 0.8rem;
    color: rgb(176, 171, 171);
    margin: 2rem 0;
  }
  .contact-info p i{
    font-size: 1.2rem;
  }
  .social-icons{
    display: none;
  }
  .education-container{
    flex-direction: column;
  }
  .left-edu,.right-edu{
width: 80%;
  }
}
